body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #212121;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Custom CSS */

/*

Main Colors:

teal: #508688
pink: #FBA9A7
light-blue: #D1EFFE
brown: #6A3701
black: #212121

 */

h1, h2, h3, h4, h5 {
  font-family: 'Baloo', sans-sans-serif;
}

.bold-it {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

.question-rounded {
  border-radius: 2em;
}

/* Brown */
.brown-shadow {
  box-shadow: 0 1rem 3rem rgba(106,55,1)!important;
}

.brown-bg {
  background: #6A3701;
  opacity: 0.8;
}
.brown-bg:hover {
  transition-timing-function: ease-in-out;
  transition: 0.15s;
  opacity: 1
}
.bg-warning {
  background-color: #6A3701 !important;
}

/* Teal */
.teal-bg {
  background: #508688;
  color: #fff;
  font-weight: bold;
}
.teal-bg-disabled {
  background: #508688;
  color: #fff;
  font-weight: bold;
  opacity: 0.5
}
.teal-bg-only {
  background: #508688;
  color: #fff;
  font-weight: bold;
}
.teal-bg:hover {
  transition-timing-function: ease-in-out;
  transition: 0.15s;
  background: #375E5F;
}

/* Pink */
.pink-bg-only {
  background: #FBA9A7;
  color: #fff;
}

.pink-bg {
  background: #FBA9A7;
  color: #fff;
  font-weight: bold;
}
.pink-bg:hover {
  transition-timing-function: ease-in-out;
  transition: 0.15s;
  background: #E7706D;
}

/* Blue */
.blue-bg {
  background: #D1EFFE;
  color: #fff;
  font-weight: bold;
}
.blue-bg:hover {
  transition-timing-function: ease-in-out;
  transition: 0.15s;
}
.blue-border {
  border: 4px solid #D1EFFE;
  list-group-style: none;
}

.text-blue {
  color: #D1EFFE;
}
