body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Custom CSS */

h1, h2, h3, h4, h5 {
  font-family: 'Baloo', sans-sans-serif;
}

.pointer {
  cursor: pointer;
}
